@import 'src/assets/scss/define';

.form-view {
  @extend %c3;
  padding: j(20) 0;

  .form-cell {
    margin: 0 j(40);
    padding: j(10) 0;
    min-height: j(106);
    font-size: j(32);
    @extend %df;
    @extend %aic;
    @extend %bsb;
    @extend %c3;

    &:not(:last-child) {
      @extend %bwb;
      @extend %bw05;
    }

    .label {
      margin-right: j(18);
    }

    .label-suffix {
      font-size: j(24);
      @extend %c6;
      margin-right: j(18);
    }
  }

  // 单元表单
  .form-field {
    .form-field-input {
      @extend %tar;
      @extend %df1;
    }
  }


  .form-photo, .form-file {
    @extend %df;
    @extend %fdc;
    align-items: flex-start;

    .tips {
      @extend %df;
      @extend %fdc;
      font-size: j(24);
      line-height: j(36);
      padding: j(10) 0;
      color: #666;
    }
  }

  .photo-group {
    @extend %df;
    @extend %fww;
    //padding: j(10) j(32);
  }

  .photo-box {
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }

    margin-top: j(20);
    margin-right: j(20);
    width: j(165);
    height: j(165);
    border-radius: j(12);
    background-color: #fff;
    border: 1px solid #ddd;

    .icon-zengjia {
      color: #E4B81B;
      font-size: j(42);
    }

    .icon-shanchu {
      @extend %pa;
      @extend %br50;
      @extend %df;
      @extend %aic;
      @extend %jcc;
      @extend %cp;
      @extend %cfff;
      top: j(-10);
      right: j(-10);
      width: j(32);
      height: j(32);
      background-color: #7d7c7c;
    }
  }

  .photo {
    @extend %w100;
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %h100;
    border-radius: j(12);
  }

  .photo-added {
    width: j(48);
    height: j(48);
  }

  .form-file {
    .file-btn {
      padding: j(6) j(10);
      border-radius: j(8);
      font-size: j(24);
      color: $color-primary;
      border: 1px solid $color-primary;
    }

    .file-group {
      padding: j(10) 0;
      width: 100%;
      @extend %df;
      @extend %fdc;

      .file-box {
        @extend %df;
        @extend %aic;
        @extend %jcs;
        @extend %pr;
        color: $color-primary;
        height: j(40);
        padding: j(10) j(20);
        background: #f6f6f6; //linear-gradient(to top right, $color-primary, $primary-disabled);
        margin-bottom: j(8);
        border-radius: j(8);

        .iconfont {
          @extend %cp;
        }
      }

      .file-name {
        text-decoration: underline;
      }
    }
  }

  .form-input {
    @extend %bsb;
    @extend %c3;
    @extend %bw05;
    @extend %bwb;
    margin: j(20) j(32) 0;
    height: j(80);
    font-size: j(30);
  }

  .textarea {
    margin: 0 j(32);
    line-height: 1.6;
    @extend %df;
    @extend %fdc;
    align-items: flex-start;

    .textarea-content {
      @extend %w100;
      @extend %c3;
      @extend %db;
      @extend %w100;
      @extend %bsb;
      background-color: #f6f6f6;
      border-radius: j(8);
      height: j(340);
      padding: j(30) j(20);
      font-size: j(30);
    }
  }

  .radio-group {
    @extend %df;
    @extend %aic;
    @extend %c3;
  }

  .radio-group-content {
    @extend %df1;
    @extend %df;
    @extend %aic;
    justify-content: flex-end;
  }

  .radio-item {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(134);
    height: j(64);
    border-radius: j(64);
    border: 1px solid #ddd;

    &:not(:first-child) {
      margin-left: j(14);
    }

    &.is-active {
      background-color: $color-primary;
      border-color: $color-primary;
      @extend %cfff;
    }
  }

  .picker-cell {
    @extend %df;
    @extend %aic;
    //@extend %cp;
    @extend %bwb;
    color: #424242;
    min-height: j(100);

    .iconfont {
      margin-right: j(8);
    }

    .icon-xieyang {
      color: $color-danger;
    }
  }

  .picker-value {
    margin-left: auto;

    text {
      max-width: j(400);
      display: block;
      word-break: break-all;
      padding: j(10) 0;
    }
  }

  .checkbox {
    @extend %df;
    @extend %aic;
    @extend %jce;
    padding: 0 j(32);
    color: #424242;
    font-size: j(28);
    margin-top: j(40);

    .iconfont {
      @extend %df;
      @extend %aic;
      @extend %bsb;
      @extend %jcc;
      @extend %br50;
      @extend %cfff;
      width: j(32);
      height: j(32);
      border: 1px solid #ddd;
      font-size: j(20);
      margin-right: j(10);
    }

    &.is-active {
      .iconfont {
        color: #Fff;
        border-color: $color-primary;
        background-color: $color-primary;
      }
    }
  }

}
