@import 'src/assets/scss/define';

.as-filter-checkbox {
  @extend %df;
  @extend %aic;
  @extend %fww;
  @extend %jcs;

  &-item {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    @extend %ao8;
    @extend %cp;
    @extend %c6;
    @extend %pr;
    margin-top: j(20);
    border-radius: j(4);
    border: 1px solid #E6E6E6;
    width: j(216);
    height: j(72);
    font-size: j(22);

    &.active {
      border-color: $color-primary;
      color: $color-primary;

      &:after {
        @extend %pa;
        @extend %t0;
        @extend %r0;
        width: j(28);
        height: j(28);
        content: '';
        border-bottom-left-radius: j(4);
        background: $color-primary url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAehJREFUSEvtlj9oU1EUxr9zI7Wlf9DiEsjQ2qXQIgSnUBAKRRRDh2RJxjToHhArRgmBOjl0EbHtULdI7SjYoemaDoUsHUq7BEsQTaihNm0N6T1y3/OBkPf6XuLLW/ROF96553e/c75zeRR92mR0cTGjCmDTd8X3+MNLKlO3gYYWDcyNoGdABWbGe6+BVU+BSuV/YEcDMzwEHB2bH3W9pLfHCakYYfUjI7/TOuKuAu+FCImwwMFnxsKqxHmjVaUrQCGARJhwPyRQ+sJ4/tYc5opLe3uAVFxAlbJcYWSWJWon1q03VXhtAEjOCqzlJQ6/Wh9Wcek5gVE/4dt3xrM3l8MsFU7dIu3W5z8Zr9cZ27utzR/xA+mEwPVBQu0HI7MiUa7Ym9qyh9FpQvyu0DKsb0ms5RlS6gkNJ/ZeJRzXGS+WnMFse6iM8GBKhxb3GYs5iTtB3Yk+Aa0CC+8k9kr2yoyIS12q3JeKE0KTOrR+xujvI23fCcxWoQpQ0ExSYOKmDlLrQkJTa9ZbO62O5lBZP/tQYCxAfwVzpNC4sRqB7COBTwXGRqHzvxJHCg2oUmr2XNmV8c/vbQHbSWwV+w8AI/PNChFuuFEuJzkoMt/MESHmJNiNGIo8OQ2AeopeqdSej9/QVwBmug3+BZso3aN1lgE4AAAAAElFTkSuQmCC") center no-repeat;
        background-size: contain;
      }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }
  }

  &:after {
    content: '';
    width: j(216);
    height: 0;
  }
}
