@import 'src/assets/scss/define';

page {
  height: 100%;
  width: 100%;
}

.remind {
  color: #999;
  font-size: j(24);
  line-height: j(40);
  @extend %db;
}

// 已选
.selected {
  @extend %df;
  @extend %aic;
  padding: j(30) 0;
  font-size: j(28);
}

.select-warp {
  padding: 0 j(40);
}

.select-item {
  @extend %df;
  @extend %aic;
  @extend %jcs;

  &:not(:first-child) {
    @extend %bw05;
    @extend %bwt;
  }

  padding: j(10) 0;
  min-height: j(80);
  color: #666;
  font-size: j(28);

  &-right {
    @extend %df;
    @extend %fdc;
  }

  .title {
    color: #333;
    font-size: j(32);
    margin-bottom: j(10);
  }

  .tips {
    color: $color-danger;
    font-size: j(24);
    visibility: hidden;
  }

  .iconfont {
    display: none;
  }

  &.is-active {
    .iconfont {
      color: $color-primary;
      display: block;
    }

    .tips {
      visibility: visible;
      margin-top: j(10);
    }
  }
}

