@import 'src/assets/scss/define';

.modal {
  @extend %pf;
  @extend %w100;
  @extend %h100;
  @extend %t0;
  @extend %l0;
  @extend %df;
  @extend %aic;
  @extend %jcc;
  z-index: 9;
  background-color: rgba(0, 0, 0, .5);
}

.wow-city {
  @extend %pa;
  @extend %b0;
  @extend %r0;
  @extend %l0;

  .content {
    border-radius: j(25) j(25) 0 0;
    @extend %bfff;
    height: j(800);
  }
}

