@import 'src/assets/scss/define';

page {
  background-color: $page-bg;
  height: 100%;
  width: 100%;
  @extend %df;
  @extend %fdc;
}

.form {
  flex: 1;
  overflow-y: auto;
  //margin-bottom: j(120);
}
