@import 'src/assets/scss/define';

page {
  background-color: $page-bg;
  height: 100%;
  width: 100%;
}

.invited-list {
  padding: j(20);
  @extend %c3;
  @extend %df;
  @extend %fdc;
}

.invited-item {
  font-size: j(28);
  padding: j(30);
  margin-top: j(20);
  background-color: #fff;
  line-height: j(40);
}
