@import 'src/assets/scss/define';

page {
  //background-color: $page-bg;
  height: 100%;
  width: 100%;
  color: #333333;
  @extend %df;
  @extend %fdc;
}

.log-title, .log-item {
  width: j(702);
  margin: 0 auto;
  border-bottom: 1px $page-bg solid;
  height: j(100);
  @extend %df;
  @extend %aic;
  @extend %jcs;
}

.log-title {
  font-size: j(28);

}

.log-item {
  font-size: j(24);
  >view{
    @extend %df;
    @extend %fdc;
  }
}
