@import 'src/assets/scss/define';

page {
  background-color: $page-bg;
  width: 100%;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  color: #333333;
  @extend %df;
  @extend %fdc;
}

.info-detail {
  padding: j(20) j(30);
  margin-bottom: j(20);
  box-sizing: border-box;
}

.patient-top {
  @extend %df;
  @extend %aic;
}


.name {
  font-size: j(28);
  font-weight: bold;
}

.status {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  background-color: $color-primary-light;
  color: $color-primary;
  height: j(44);
  padding: 0 j(18);
  font-size: j(24);
  font-weight: bold;
  border-radius: j(8);
  margin-left: j(24);
}

.info-item {
  @extend %df;
  @extend %aic;
  @extend %jcs;
  font-size: j(28);
  min-height: j(60);
  padding: j(10) 0;
}

.info-item-label {
  width: j(140);
  margin-right: j(20);
}

.info-item-value {
  //overflow-x: hidden;
  @extend %df1;
  @extend %df;
  @extend %aic;
  justify-content: flex-end;
}
