@import 'src/assets/scss/define';

page {
  background-color: $page-bg;
  height: 100%;
  width: 100%;
  @extend %df;
  @extend %fdc;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}

// 搜索区域
.header-section {
  @extend %df;
  @extend %aic;
  @extend %bsb;
  height: j(108);
  padding-left: j(30);
  background-color: #fff;
  width: 100%;
}

.search-box {
  @extend %df;
  @extend %df1;
  @extend %aic;
  height: j(72);
  padding: 0 j(24);
  background-color: #F6F7FA;
  border-radius: j(8);

  .iconfont {
    @extend %c9;
  }
}

.search-input {
  @extend %df1;
  @extend %h100;
  @extend %c9;
  height: j(72);
  margin-left: j(16);
  font-size: j(30);
  font-weight: 300;
}

.filter-button {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %c3;
  font-size: j(30);
  color: $color-primary;
  padding: 0;
  margin: 0;
  height: j(72);
  width: j(148);
  background-color: transparent;

  &:after {
    @extend %dn;
  }

  .iconfont {
    margin: 0 j(8);
    font-size: j(26);
  }

  &.active {
    color: $color-primary;
  }
}

.total-view {
  width: 100%;
  height: j(60);
  line-height: j(60);
  padding-left: j(30);
  font-size: j(24);
  @extend %c6;
  background-color: $page-bg;

  .status-num {
    color: $color-primary;
  }
}

.enroll-list {
  @extend %bsb;
  padding: j(188) 0 0 0;
}

.enroll-item {
  width: j(702);
  //min-height: j(140);
  border-radius: j(20);
  margin: j(20) auto 0;
  padding: j(20) j(30);
  font-size: j(24);
  color: #333333;
  border: 1px solid transparent;
  @extend %bsb;
  @extend %bfff;

  &.no-read {
    border-color: $primary-disabled;
  }

  &:first-child {
    margin-top: 0;
  }

  .enroll-item-top {
    @extend %df;
    @extend %aic;
    @extend %jcs;
  }
}

.patient {
  @extend %df;
  @extend %aic;
}

.name {
  font-size: j(28);
  font-weight: bold;
}

.status {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  background-color: $color-primary-light;
  color: $color-primary;
  height: j(44);
  padding: 0 j(18);
  font-size: j(24);
  font-weight: bold;
  border-radius: j(8);
  margin-left: j(24);
}

.time {
  color: #999;
}

.disease {
  font-size: j(26);
  line-height: j(30);
  padding: j(20) 0;
}

.number-label {
  color: #999999;
  margin-right: j(20);
}

.enroll-btn {
  position: fixed;
  font-size: j(28);
  font-weight: 500;
  right: j(50);
  bottom: j(100);
  width: j(100);
  height: j(100);
  border-radius: 50%;
  background: $color-primary;
  color: #fff;
  @extend %df;
  @extend %aic;
  @extend %jcc;
}
