@import "src/assets/scss/define";
@import "src/assets/scss/iconfont";
@import "src/templates/form-view/index";

page {
  @extend %bsb;
}

button {
  border: none;
}

button::after {
  border: none;
}

.c-input-place {
  color: #cecfd2;
}

.c-center {
  @extend %tac;
}

.c-block {
  width: j(702);
  min-height: j(40);
  border-radius: j(20);
  margin: j(40) auto 0;
  @extend %bfff;
}

.c-input-place {
  @extend %c6;
}

.c-arrow {
  width: j(12);
  height: j(12);
  border-top: 1px solid #848484;
  border-right: 1px solid #848484;

  &.right {
    @include tfr(45deg);
    margin-left: j(10);
  }

  &.bottom {
    @include tfr(135deg);
    margin-left: j(30);
    margin-bottom: j(20);
  }

  &.left {
    @include tfr(-135deg);
    margin-right: j(10);
  }

  &.top {
    @include tfr(-45deg);
    margin-left: j(30);
  }
}

.c-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: j(10) 0;
  @extend %bfff;

  &-seat {
    height: j(120);
  }
}

.c-btn-bar {
  @extend %df;
  @extend %aic;
  //min-height: j(120);
}

.c-button {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %ma;
  @extend %cfff;
  height: j(100);
  font-size: j(30);
  padding: 0;
  border-radius: j(50);
  width: j(698);
  background-color: $color-primary;
}

.c-button-plain {
  height: j(100);
  font-size: j(30);
  padding: 0;
  border-radius: j(50);
  border: 1px solid $color-primary;
  background: #fff;
  color: $color-primary;
}

// 表单按钮组
.btn-bar {
  height: j(120);
  padding: 0 j(30);
  @extend %bfff;
  @extend %df;
  @extend %aic;

  .btn {
    height: j(96);
    line-height: j(96);
    font-size: j(32);
    flex: 1;
    border-radius: j(48);
    @extend %tac;
  }

  .btn + .btn {
    margin-left: j(30);
  }

  .btn-info {
    border: 1px solid #ebedf0;
    background-color: #f1f1f1;
    color: #333;
  }

  .btn-primary {
    border: 1px solid $color-primary;
    background-color: $color-primary;
    color: #fff;
  }
}

.ios-seat {
  @extend %w100;
  height: constant(safe-area-inset-bottom);
  height: env(safe-area-inset-bottom);
}
