@import 'src/assets/scss/define';

.warp {
  width: 100%;
  height: 100%;
  @extend %df;
  line-height: j(90);
  font-size: j(28);
}

.content {
  flex: 1;
  height: j(450);
  @extend %df;
  line-height: j(90);

}

.parent {
  width: j(300);
  height: 100%;
  @extend %df;
  @extend %fdc;
  overflow: auto;

  &-item {
    padding-left: j(30);
    background-color: #f7f8fa;
    @extend %pr;

    &.is-active {
      background-color: #fff;

      &::after {
        content: '';
        width: j(5);
        background-color: $color-primary;
        height: 100%;
        @extend %pa;
        @extend %l0;
        @extend %t0;
      }
    }
  }
}

.children {
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 0 j(30);

  &-item {
    @extend %df;
    @extend %aic;
    @extend %jcs;
    @extend %fwb;

    .iconfont {
      display: none;
      font-weight: normal;
    }

    &.is-active {
      color: $color-primary;

      .iconfont {
        display: block;
      }
    }
  }
}
